.color-attention {
	color: #ff7435;
	font-size: 18px;
}

.color-attention:hover {
	color: #e85715;
}

.span--wrapper {
	padding: 0 5px;
}

.oneLine:after {
	content: "";
	display: block;
	width: 30px;
	border-bottom: 2px solid #ff7435;
	margin: 0 auto;
	opacity: 0;
}

.oneLine:hover:after {
	opacity: 1;
}

.twoLine:after {
	content: "";
	display: block;
	width: 30px;
	padding-top: 2px;
	border-top: 2px solid #ff7435;
	border-bottom: 2px solid #ff7435;
	margin: 0 auto;
	opacity: 0;
}

.twoLine:hover:after {
	opacity: 1;
}

.title,
.about-me__title,
.my-contacts__title,
.my-gallery__title,
.my-tools__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 26px;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 320px;
	font-size: 16px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a,
button,
a:hover,
a:active {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

label span {
	text-transform: uppercase;
}

.about-me {
	padding: 0 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.about-me__title {
	text-align: center;
	margin: 20px 0;
}

.about-me__description {
	text-align: justify;
}

.form {
	width: 100%;
}

.form__title {
	margin: 20px 0;
	display: block;
	font-weight: 700;
	width: 100%;
}

.form__name {
	display: block;
	text-align: left;
	margin: 15px 0 7px;
}

.form__input {
	display: block;
	border: solid 0px;
	border-color: #fff;
	width: 100%;
	height: 35px;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}

.form__input:focus {
	border: solid 1px;
	border-color: #1b4372;
	box-shadow: 0 0 10px #1b4372;
}

.form__send {
	display: block;
	border-radius: 4px;
	width: 100%;
	background-color: #838383;
	color: #fff;
	height: 40px;
	padding: 8px;
	margin: 20px 0;
}

.form__send:hover {
	background-color: #838383;
}

.main-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 59px;
	margin: 0;
}

.main-nav__list {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.main-nav__link {
	float: left;
	margin: 5px;
}

.main-nav__link:hover {
	color: #ff7435;
}

.my-contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 20px;
}

.my-contacts__inner {
	display: block;
	position: relative;
	background-image: url("../img/24.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

.my-contacts__inner:before {
	content: "";
	display: block;
	background-color: rgba(45, 106, 161, 0.5);
	height: 100%;
	width: 100%;
	position: absolute;
}

.my-contacts__title {
	text-align: center;
	color: #fff;
	width: 100%;
	margin: 20px 0;
}

.my-contacts__contact-post {
	display: block;
	width: 100%;
}

.my-contacts__contact {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 35px 40px;
	max-width: 670px;
}

.my-contacts__type {
	font-size: 24px;
	color: #000;
}

.my-contacts__type--line {
	width: 100%;
	border-bottom: 3px solid;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-color: #2d6aa1;
}

.my-contacts__post {
	width: 100%;
}

.my-gallery__title {
	text-align: center;
	width: 100%;
	margin: 20px 0;
}

.my-gallery__projects {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.my-gallery__project {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 320px;
	margin: 10px 0;
	background-size: cover;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
}

.my-gallery__project:before {
	content: "";
	position: absolute;
	background-color: rgba(45, 106, 161, 0);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.my-gallery__project:hover:before {
	content: "";
	background-color: rgba(45, 106, 161, 0.5);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.my-gallery__project-preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 50px;
	color: #fff;
	height: 55px;
	width: 55px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #2d6aa1;
	margin-right: 10px;
	z-index: 2;
	opacity: 0;
	-webkit-transform: translate(-300px);
	-ms-transform: translate(-300px);
	transform: translate(-300px);
}

.my-gallery__project-preview--about {
	-webkit-transform: translate(300px);
	-ms-transform: translate(300px);
	transform: translate(300px);
	margin-left: 10px;
}

.my-gallery__project-preview--about:before {
	content: "";
	display: block;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	height: 20px;
	width: 20px;
	margin-right: 8px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.my-gallery__project:hover > .my-gallery__project-preview {
	opacity: 1;
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.my-quality {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

.my-quality__block {
	border: 4px solid;
	border-color: #e0e0e0;
	border-radius: 5px;
	background-image: url("../img/48--black.png");
	background-repeat: no-repeat;
	background-size: 110px;
	background-position: center 20px;
	padding-top: 160px;
	text-align: center;
	width: 100%;
	margin: 10px 0;
}

.my-quality__block-title {
	display: block;
	font-size: 20px;
}

.my-quality__block-description {
	display: block;
	padding: 15px 7px;
	font-size: 14px;
}

.my-quality__inner {
	width: 100%;
	padding: 20px;
}

.my-quality__block--message {
	background-image: url("../img/84--black.png");
}

.my-quality__block--zeppelin {
	background-image: url("../img/213--black.png");
}

.my-quality__block--time {
	background-image: url("../img/57--black.png");
}

.my-tools {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1200px;
	height: 100%;
	min-height: 140px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 20px;
}

.my-tools__inner {
	display: block;
	position: relative;
	background-image: url("../img/1.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
}

.my-tools__inner:before {
	content: "";
	display: block;
	background-color: rgba(45, 106, 161, 0.84);
	height: 100%;
	width: 100%;
	position: absolute;
}

.my-tools__title {
	text-align: center;
	color: #fff;
	width: 100%;
	margin: 20px 0;
}

.my-tools__tool {
	background-image: url("../img/44--white.png");
	background-repeat: no-repeat;
	background-size: auto 50px;
	width: 100%;
	padding-left: 60px;
	padding-top: 5px;
	text-align: left;
	margin: 10px 0;
	min-height: 50px;
}

.my-tools__tool--cms {
	background-image: url("../img/93--white.png");
}

.my-tools__tool--sience {
	background-image: url("../img/96--white.png");
}

.my-tools__tool--notepad {
	background-image: url("../img/64--white.png");
}

.nav-display {
	display: block;
	width: 100%;
	text-transform: uppercase;
	height: 100%;
	overflow: hidden;
}

.nav-display__list {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	color: #191919;
	font-size: 14px;
	font-weight: 400;
	display: block;
	width: 100%;
	border-top: 1px solid;
	border-color: #e0e0e0;
}

.nav-display__link {
	border-bottom: 1px solid;
	border-color: #e0e0e0;
	width: 100%;
}

.nav-display__link a {
	padding: 10px 0;
	width: 100%;
	display: block;
	text-align: center;
}

.nav-display__link:hover {
	color: #ff7435;
}

.nav-display__burger {
	display: block;
	width: 25px;
	height: 25px;
	background: url('../img/icon-burger.png') no-repeat;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.nav-display--show {
	display: block;
}

.nav-display > ul li {
	margin-top: -100px;
	-webkit-transition: 0.8s linear;
	transition: 0.8s linear;
}

.nav-display--show > ul li {
	margin-top: 0;
}

.page-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 50px 20px;
}

.page-header__inner {
	display: block;
	position: relative;
	background-image: url("../img/16.jpg");
	background-size: cover;
	width: 100%;
}

.page-header__inner:before {
	content: "";
	display: block;
	background-color: rgba(35, 16, 16, 0.65);
	height: 100%;
	width: 100%;
	position: absolute;
}

.page-header__title {
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
}

.page-header__title:after {
	content: "";
	display: block;
	margin: 20px auto 0;
	width: 12%;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #fff;
}

.page-header__description {
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 20px;
}

@media (min-width: 468px) {

.title,
.about-me__title,
.my-contacts__title,
.my-gallery__title,
.my-tools__title {
	font-size: 30px;
}

}

@media (min-width: 768px) {

.about-me {
	padding: 0;
}

.form {
	max-width: 350px;
}

.main-nav {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.my-contacts__contact-post {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.my-contacts__contact {
	text-align: left;
	width: 100%;
	-webkit-flex-shrink: 2;
	-ms-flex-negative: 2;
	flex-shrink: 2;
}

.my-contacts__post {
	max-width: 350px;
	margin-left: 20px;
	-webkit-flex-shrink: 3;
	-ms-flex-negative: 3;
	flex-shrink: 3;
}

.my-gallery__project {
	width: 33%;
	height: 33%;
	min-height: 250px;
}

.my-quality {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.my-quality__block {
	width: 24%;
	max-width: 270px;
}

.my-tools__tool {
	width: 24%;
}

}

@media (min-width: 1200px) {

.my-gallery__project {
	width: 24%;
	height: 24%;
}

.nav-display {
	display: none;
}

.nav-display__burger {
	display: none;
}

.page-header__inner {
	background-position: 50% -310px;
	background-attachment: fixed;
}

}

