.page-footer
    span.page-footer__part  NC art 2016
        a.page-footer__adress(href="aleksnc.ru")  Мое резюме
    span.page-footer__part Абрамов Александр
    span.page-footer__part тел:
        a.page-footer__tel(href="tel:+79043390832") +7 (904) 339-08-32


script(src="js/jquery-2.2.3.min.js")
script(src="js/fancy/jquery.fancybox.pack.js")
script(src="js/slick.min.js")
script(src="js/autoresize.jquery.js")
script(src="js/script.js")