doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        title Мое портфолио
        link(rel="stylesheet" href="css/style.css")
    body
        include mixins.jade
        include page-header/page-header
        block content
        include page-footer/page-footer

