doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta( name="viewport" content="width=device-width, initial-scale=1.0")
        title Мое портфолио Макет
        link(rel="stylesheet" href="css/style.css")
    body
        include ../header-maket/header-maket

        .block-maket
            .block-maket__gallery
                include ../maket-gallery/maket-gallery.pug