.page-header__inner
    .page-header
        include ../main-nav/main-nav
        h1.page-header__title HTML-ВЕРСТКА
        h2.page-header__description Привет! Меня зовут Александр Абрамов, а это мое портфолио.
