section.about-me
    h1.about-me__title Обо мне
    p.about-me__description.
        Александр Абрамов , 26 лет. В 2012-м году закончил СПбГУТ
        "им. проф. Бонч-Бруевича" Факультет Информационных
         Систем и Технологий. Занимаюсь версткой с 2011 года.
         Стараюсь постоянно учится и совершенстровать свои навыки.


