.maket-gallery
    #silck_for.slider
        div
            img(src="img/1.jpg")
        div
            img(src="img/3.jpg")
        div
            img(src="img/4.jpg")
        div
            img(src="img/5.jpg")
        div
            img(src="img/6.jpg")
        div
            img(src="img/7.jpg")
    #silck_nav.maket-gallery__nav.slider
        div.maket-gallery__img
            img(src="img/1s.jpg")
        div.maket-gallery__img
            img(src="img/3s.jpg")
        div.maket-gallery__img
            img(src="img/4s.jpg")
        div.maket-gallery__img
            img(src="img/5s.jpg")
        div.maket-gallery__img
            img(src="img/6s.jpg")
        div.maket-gallery__img
            img(src="img/7s.jpg")
