nav#nav-display.nav-display
    ul.nav-display__list
        li.nav-display__link
            a(href="roomlist.html") Обо мне
        li.nav-display__link
            a(href="single-room.html") Мои проекты
        li.nav-display__link
            a(href="#") контакты
