.my-contacts__inner
    a(name="contact")
    section.my-contacts
        h1.my-contacts__title Контакты
        .my-contacts__contact-post
            .my-contacts__contact
                .my-contacts__type.my-contacts__type--line
                    span.my-contacts__type-name ТЕЛЕФОН:
                    a.my-contacts__type-info(href="tel:+79043390832")  +7(904) 33 908 32
                .my-contacts__type
                    span.my-contacts__type-name E-MAIL:
                        a.my-contacts__type-info(href="mailto:aleksnc@mail.ru")  aleksnc@mail.ru
            .my-contacts__post
                include ../form/form