.my-tools__inner
    .my-tools
        h1.my-tools__title Мои инструменты
        .my-tools__tool
            abbr(lang="en" title='HyperText Markup Language 5')  HTML5
            | ,
            abbr(lang="en" title='Cascading Style Sheets 3')  CSS3
            | ,
            abbr(lang="en" title='Java Script')  JS
            | ,
            abbr(lang="en" title='Hypertext Preprocessor')  PHP
        .my-tools__tool.my-tools__tool--cms MODX, Laravel
        .my-tools__tool.my-tools__tool--sience JADE, LESS, Bootstrap, GRUNT, GULP
        .my-tools__tool.my-tools__tool--notepad WebStorm, Notepad++, XAMPP, Photoshop
