.my-tools__inner
    .my-tools
        .my-tools__title Мои инструменты
        .my-tools__tool  HTML5, CSS3, JS, PHP
        .my-tools__tool.my-tools__tool--cms MODX, Laravel
        .my-tools__tool.my-tools__tool--sience JADE, LESS, Bootstrap, GRUNT, GULP
        .my-tools__tool.my-tools__tool--notepad WebStorm, Notepad++, XAMPP, Photoshop
