.main-nav{
  display:                        flex;
  align-content:                  center;
  align-items:                    center;
  justify-content:                center;
  height:                         59px;
  margin:                         0;

  &__list{
    align-self: center;
    color:                        #fff;
    font-size:                    @text-size-sm;
    text-transform:               uppercase;
    font-weight:                  500;
    display:                      flex;
  }

  &__link{
    float:                        left;
    margin:                       5px;

    &:hover{
      color:                      @color-second;
    }
  }
}
