nav.main-nav
    ul.main-nav__list
        li.main-nav__link
            a(href="roomlist.html") Обо мне
        li.main-nav__link
            a(href="single-room.html") Мои проекты
        li.main-nav__link
            a(href="#") Контакты
    span#main-nav__burger.main-nav__burger(onclick="burgerToggl()")
