.vizit
    img.vizit__my-foto(src="me.jpg")
    .vazit__card
        p.vizit__my-name Абрамов Алесандр
        h1.vizit__title HTML-верстка
        h2.vizit__description Привет! Меня зовут Александр Абрамов,а это мое портфолио