link(rel="stylesheet" href="../css/style.css")

include ../blocks/maket

script(src="../js/jquery-2.2.3.min.js")
script(src="../js/fancy/jquery.fancybox.pack.js")
script(src="../js/slick.min.js")
script(src="../js/autoresize.jquery.js")
script(src="../js/script.js")