.maket-nav__inner
    a#maketBurger.maket-nav__burger(onclick="burgerToggl()" href="javascript:void(0);")
    .maket-nav
        a.maket-nav__btn(href="../index.html") Главная
        a.maket-nav__btn(href="../index.html#project") Мои прокеты
        a.maket-nav__btn(href="../index.html#contact") Контакты