.my-gallery
    .my-gallery__title Мои работы
    .my-gallery__projects
        .my-gallery__project(style="background-image: url('img/mbt.jpg');")
            a.my-gallery__project-preview(href="#") +
            a.my-gallery__project-preview.my-gallery__project-preview--about(href="#")
        .my-gallery__project(style="background-image: url('img/sale.jpg');")
            a.my-gallery__project-preview(href="#") +
            a.my-gallery__project-preview.my-gallery__project-preview--about(href="#")
        .my-gallery__project(style="background-image: url('img/kiber.jpg');")
            a.my-gallery__project-preview(href="#") +
            a.my-gallery__project-preview.my-gallery__project-preview--about(href="#")