.my-quality__inner
    .my-quality
        .my-quality__block
            span.my-quality__block-title Гарантия качества
            span.my-quality__block-description Постоянно учусь и совершенствую свои знания

        .my-quality__block.my-quality__block--message
            span.my-quality__block-title.message Всегда на связи
            span.my-quality__block-description Обязательно обсуждаю проект для получения лучшего результата

        .my-quality__block.my-quality__block--zeppelin
            span.my-quality__block-title Современные технологии
            span.my-quality__block-description Использую сборку grunt для быстрого написания кореектного кода

        .my-quality__block.my-quality__block--time
            span.my-quality__block-title Пунктуальность
            span.my-quality__block-description Все проекты выполняю в срок
